body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    border: 1px solid black;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)) !important;
    border: 1px solid red;
}

.header__logo p {
    color: #ffffff;
    font-family: Aunchanted;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 1.75px;
}

.header__nav {
    display: flex;
    align-items: center;
    width: 555px;
    height: 17px;
    border: 1px solid orange;
    margin-left: 56px;
    margin-right: 53px;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header__nav li {
    display: flex;
    color: #f0f0f0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.header__worktime {
    text-align: center;
    width: 133px;
    height: 43px;
    border: 1px solid green;
    margin-right: 54px;
}

.header__worktime img {
    display: flex;
    position: absolute;
}

.header__worktime p {
    margin: 0;
    margin-left: 19px;
    margin-top: 4px;
}

.header__worktime_time {
    color: #007bff;
    font-family: "OpenSans-Light";
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.header__worktime_text {
    color: #ffffff;
    font-family: "OpenSans-Light";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.header__contacts {
    width: 149px;
    height: 68px;
    border: 1px solid yellow;
}

.header__contacts img {
    display: flex;
    position: absolute;
    height: 19px;
    width: 19px;
}

.header__contacts_img-2 {
    top: 36px;
}

.header__contacts_img-3 {
    top: 61px;
}

.header__contacts ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 28px;
}

.header__contacts li {
    display: flex;
    color: #ffffff;
    font-family: "OpenSans-Light";
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    /*25px*/
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.slider span {
    color: #363636;
    font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 111px;
}

.carousel-wrap {
    margin-bottom: 220px;
    padding: 0 0%;
    width: 42%;
    position: relative;
}

.owl-carousel {
    justify-content: center;
    display: flex !important;
    margin-top: 40px;
    margin-bottom: 20px;
}

.owl-carousel .item {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 5px 5px !important;
}

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 52px;
}

.owl-nav {
    display: flex;
    position: absolute;
    top: 50%;
}

.owl-nav .owl-prev {
    position: absolute;
    left: -481px;
}

.owl-nav .owl-next {
    position: absolute;
    right: -481px;
}

.owl-carousel button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.owl-dots {
    display: none;
}

.owl-carousel img {
    width: 255px;
    height: auto;
}

.work-stages {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 985px;
    background-image: linear-gradient( rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/Главная/Этапы_работы/ferrari-2468015_1920.jpg.png);
}

.work-stages_title {
    color: #363636;
    font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    margin-top: 128px;
    margin-bottom: 70px;
}

.work-stages__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    height: auto;
    margin-bottom: 148px;
}

.work-stages__content p {
    margin-top: 0;
    margin-bottom: 0;
}

.work-stages__content_stage {
    display: flex;
    margin-bottom: 45px;
}

.work-stages__content_number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 85px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    background-color: #ff0000;
    background-image: linear-gradient(-200deg, #007bff 0%, #007bff 20%, #00b4ff 82%, #00b4ff 100%);
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    margin-right: 31px;
}

.work-stages__content_about {
    display: flex;
    flex-direction: column;
}

.work-stages_name {
    color: #363636;
    font-family: Roboto-Regular;
    font-size: 28px;
    font-weight: 700;
    line-height: 25px;
    /*32px*/
    margin-bottom: 17px;
}

.work-stages_text {
    color: #595959;
    font-family: Roboto-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.painting-discs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.wrapper {
    width: 55%;
}

.painting-discs_title {
    display: block;
    color: #363636;
    font-family: Roboto-Bold;
    font-size: 46px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 85px;
}

.painting-discs_text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 37px;
}

.painting-discs_text span {
    color: #363636;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}

.painting-discs_text span:not(:last-child) {
    margin-bottom: 58px;
}

.painting-discs__price {
    display: flex;
    margin-bottom: 40px;
}

.painting-discs__price_table {
    display: flex;
    margin-right: 84px;
}

.painting-discs__price_table tr:first-child {
    background-color: #3b7ded;
    background-image: linear-gradient(to top, rgba(0, 123, 255, 0.9) 0%, rgba(0, 180, 255, 0.9) 100%);
}

.painting-discs__price_table th {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
}

.painting-discs__price_table td {
    color: #363636;
    font-family: Roboto-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    /* text-transform: uppercase; */
    border: 1px solid rgba(59, 125, 237, 0.4);
}

table .blue {
    background-color: rgba(59, 125, 237, 0.1);
}

.painting-discs__price_img {
    display: flex;
    width: auto;
    height: auto;
}

.painting-discs__about-price {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 107px;
}

.painting-discs__about-price .red {
    color: #ff3c3c;
    font-size: 16px;
    font-family: Roboto-Regular;
    font-weight: 400;
    line-height: 35px;
}

.painting-discs__about-price .title {
    font-family: Roboto-Bold;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
}

.painting-discs__about-price .text {
    font-family: Roboto-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* 35px */
}

.painting-discs__about-price .dont-take {
    font-family: Roboto-Regular;
    font-weight: 400;
    line-height: 24px;
}

.painting-discs__about-price .ol-1 {
    padding-left: 17px;
}

.painting-discs__about-price .ol-2 {
    padding-left: 55px;
}

.painting-discs__also-see {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
}

.painting-discs__also-see span {
    color: #363636;
    font-family: Roboto-Regular;
    font-size: 46px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    margin-bottom: 78px;
}

.painting-discs__also-see_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 119px;
}

.painting-discs__also-see_buttons button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
}

.footer {
    width: 100%;
    height: 749px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px green;
}

.footer__about-us {
    display: flex;
}

.footer__about-us__contacts {
    display: flex;
    flex-direction: column;
}

.footer__about-us__contacts {
    margin: 0;
    padding: 0;
}

.footer__about-us__contacts_content {
    display: flex;
    flex-direction: row;
}

.footer__about-us__contacts_column {
    display: flex;
    flex-direction: column;
    margin-right: 65px;
    border: 1px solid blue;
}

.footer__about-us__contacts_title {
    color: #363636;
    font-family: Roboto;
    font-size: 46px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
}

.footer__about-us__contacts__1 img {
    display: flex;
    height: 100%;
}

.footer__about-us__contacts__1_name {
    color: #007bff;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
}

.footer__about-us__contacts__1_text {
    display: flex;
    color: #595959;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    border: 1px solid black;
}